$green: #329A99;
$blue: #669ACC;
$black: #333333;
$red: #9A1701;
$yellow: #FA8D54;
$pink: #CD6667;
$clip-path-horiz: polygon(18% 0, 0 0, 0 45%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 83% 65%, 100% 46%, 85% 24%, 100% 0, 50% 0);
$clip-path-vert: polygon(20% 0%, 0 0, 0 45%, 0 100%, 22% 85%, 48% 100%, 74% 84%, 100% 100%, 100% 51%, 100% 20%, 100% 0, 48% 0);
