@import './variables';

.meals-list {
  display: grid;
  grid-template-columns: 1fr 270px;
  border: 1px solid #ffffff94;
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
  padding: 4% 2% 4% 2%;
  background: #fff;
  position: relative;
  bottom: 10px;
  z-index: 15;

  .meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .meals-right {
    margin-left: 15px;
  }
}
